@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

body {
    background-image: url('paisaje.jpg');
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 40 px;
    border-radius: 0.5rem;
    background-color: aliceblue;
    opacity: 0.9;
    min-width: 360px;
    margin: 10px;
}

.h4 {
    text-align: center;

}

/* TÍTULO APLICACIÓN*/
.titlecontainer{
    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    height: 50px;
  }
 
.titleApp {
    padding-top: 10px;
    text-align: center; 
        
}

/* APARTADO BALANCE. */

.titleBalance{
    font-size: 22px;
    text-align: center;
    border-radius: 1rem;
    margin: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-color:rgb(221, 94, 137);
}
.totalBalance{
    text-align: center;
    border-radius: 1rem;
    margin: 20px;
    color: black;
    font-weight: bold;
}




/*APARTADO INGRESOS Y GASTOS*/

.totalMovement{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

.titleMovements{
    font-size: 22px;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(221, 94, 137);
}

.totalIncome{
    font-weight: bold;
    color: rgb(64, 255, 47);
    text-align: center;
}

.totalExpense{
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
}



/* APARTADO HISTORIAL MOVIMIENTOS*/
.titleHistorial {
    text-align: center;
    margin-top:20px;
    font-size: 22px;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(221, 94, 137);
    
}

.transactionHistorial {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-weight: bold
   
   
   
}

/* APARTADO NUEVA TRANSACCIÓN*/
.divForm{
    padding: 20px;
   
}
.formTitle {
    text-align: center;
    color: black;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-color: rgb(221, 94, 137);  
}

.formTransaction{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    padding: 20px; 

}

.concept{
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    padding: 2px;  
}

.buttonTransaction{
    font-size: 15px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(31, 25, 25);
    border-radius: 50px;
    color: rgb(31, 28, 28);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.buttonTransaction:hover{
    background-color: rgb(241, 92, 142);
}


.error{
    color: red;
    font-weight: bold;
    display: flex;
    text-align: center;
}
